.banner {
  position: relative;
  display: inline-block;
  width: 100%; /* or set a fixed width */
}

.banner img {
  width: 100%; /* scales the image */
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;        /* vertical position */
  left: 50%;       /* horizontal position */
  transform: translate(-50%, -50%); /* center the text */
  color: #1800ad;  /* text color */
  font-size: 2em;  /* adjust size */
  font-weight: bold;
  font-family: sans-serif;
}
